#body1{
    background-image: url(sfondo1m.jpg);
    
}

a{
    text-decoration:none;
    color: white;
   }

   .containerind h1{
    color: white;
    text-align: center;
    margin-top: 28rem;
}

.containerind .btn {
    margin-top: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .containerind .btn:hover {
    background-color: rgb(195, 27, 159);
    color: white;
  }


  #body2{
    background-image: url(sfondo2m.jpg);
}
.containerus .box1{
    width:100%;
    display: flex;
    height: 300px;
}
.containerus .box1 .image{
    margin-top: 5rem;
    margin-right: 4rem;
    width:80%;
    height: 150px;
}

.containerus .box1 .image img{
    width:80%;
    
    
}











